.simple-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
  border-bottom: $menu-border-width solid $menu-border-color;
  box-shadow: $menu-box-shadow;

  >.menu-item {
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &.is-disabled {
      color: $menu-item-disabled-color;
      cursor: default;
      pointer-events: none;
    }

    &.is-active,
    &:hover {
      color: $menu-item-active-color;
      border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }

  >.submenu-item {
    position: relative;

    .submenu-title {
      display: flex;
      align-items: center;
    }

    .arrow-icon {
      transition: transform .25s ease-in-out;
      margin-left: 3px;
    }

    &:hover {
      .arrow-icon {
        transform: rotate(180deg);
      }
    }
  }
   .is-vertical {
     .arrow-icon {
       transform: rotate(0deg) !important;
     }
   }
     .is-vertical.is-opened {
       .arrow-icon {
         transform: rotate(180deg) !important;
       }
     }
  .simple-submenu {
    list-style: none;
    white-space: nowrap;
    padding-left: 0;
    .menu-item {
      padding: $menu-item-padding-y $menu-item-padding-x;
      cursor: pointer;
      transition: $menu-transition;
      color: $body-color;

      &.is-active,
      &:hover {
        color: $menu-item-active-color;
      }
    }
  }
  //  .menu-opened {
  //    display: block;
  //  }
}

.menu-horizontal {
  >.menu-item {
    border-bottom: $menu-item-active-border-width solid transparent;
  }

  .simple-submenu {
    position: absolute;
    background: $white;
    z-index: 100;
    top: calc(100% + 8px);
    left: 0;
    border: $menu-border-width solid $menu-border-color;
    box-shadow: $submenu-box-shadow;
  }
}

.menu-vertical {
  flex-direction: column;
  border-bottom: 0px;
  border-right: $menu-border-width solid $menu-border-color;
  margin: 10px 20px;

  >.menu-item {
    border-left: $menu-item-active-border-width solid transparent;

    &.is-active,
    &:hover {
      border-bottom: 0px;
      border-left: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }
}