$alert-colors: ("default": $primary,
  "success": $success,
  "warning": $warning,
  "danger": $danger);

.simple-alert {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  border-radius: $alert-border-radius;

  .bold-title {
    font-weight: $dt-font-weight;
  }

  .simple-alert-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
    cursor: pointer;
  }

  .simple-alert-desc {
    font-size: $alert-description-font-size;
    margin: $alert-description-top-margin 0 0;
  }
}

@mixin alert-style($background, $border, $color) {
  color: $color;
  background: $background;
  border-color: $border;
}

@each $color,
$value in $alert-colors {
  .simple-alert-#{$color} {
    @include alert-style($value, darken($value, 5%), $white);
  }
}