
.tree{
  .tree-switcher{
    position: relative;
    flex: none;
    align-self: stretch;
    width: 24px;
    margin: 0;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    .anticon-icon{
      display: inline-block;
      font-size: 10px;
      vertical-align: baseline;
    }
  }
  .tree-item{
    .tree-item-title{
      display: inline-block;
      user-select: none;
      padding: 0 4px;
      min-height: 24px;
      line-height: 24px;
      font-size: 14px;
      cursor: pointer;
    }
    .tree-item-title:hover{
      background-color: #f5f5f5;
    }
  }
  .tree-disabled .tree-item-title{
    cursor: not-allowed;
    color: #00000040;
  }
}
