.message-container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: fixed;
  top: 8px;
  left: 0;
  z-index: 1010;
  width: 100%;
  pointer-events: none;

  .message-notice {
    padding: 8px;
    .message-notice-content {
      display: flex;
      justify-content: center;
      padding: 10px 16px;
      background: #fff;
      border-radius: 2px;
      box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
        0 9px 28px 8px rgb(0 0 0 / 5%);
      pointer-events: all;
      .icon {
        display: inline-block;
        margin-right: 8px;
        font-size: 16px;
        svg {
          vertical-align: baseline;
        }
      }
    }
    .message-success .icon {
      color: #52c41a;
    }
    .message-info .icon {
      color: #1890ff;
    }
    .message-error .icon {
      color: #ff4d4f;
    }
    .message-warning .icon{
      color: #faad14;
    }
    .message-loading .icon{
      color: #1890ff;
      animation: loadingCircle 1s infinite linear;
    }
  }
}
@keyframes loadingCircle {
  to {
    transform: rotate(360deg);
  }
}
