.slider {
  position: relative;
  cursor: pointer;
  touch-action: none;
  margin: 10px 6px;
  --ant-primary-3: #91d5ff;
  --ant-primary-color-deprecated-f-12: rgba(24, 144, 255, .12);
  --ant-primary-color-deprecated-t-20: #46a6ff;
  &:hover .slider-rail{
    background-color: #e4e4e4;
  }
  &:hover .slider-track{
    background-color: #69c0ff;
  }
  .slider-rail {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #f5f5f5;
    border-radius: 2px;
    transition: background-color 0.3s;
  }

  .slider-track {
    position: absolute;
    height: 4px;
    background-color: var(--ant-primary-3);
    border-radius: 2px;
    transition: background-color 0.3s;
  }
  .slider-handle {
    position: absolute;
    width: 14px;
    height: 14px;
    margin-top: -5px;
    background-color: #fff;
    border: solid 2px var(--ant-primary-3);
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    transition: border-color 0.3s, box-shadow 0.6s,
      transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    box-shadow: none;
    &:focus {
      border-color: var(--ant-primary-color-deprecated-t-20);
      outline: none;
      box-shadow: 0 0 0 5px var(--ant-primary-color-deprecated-f-12);
    }
  }
}
.slider-horizontal {
  height: 12px;
  width: 100%;
}
.slider-vertical {
  width: 12px;
  height: 100%;
  .slider-rail{
    width: 4px;
    height: 100%;
  }
  .slider-handle{
    margin-top: -6px;
    margin-left: -5px;
  }
  .slider-track{
    width: 4px;
    bottom: 0;
  }
}
